<style media="screen">
	<% if @timeline.first.user.profile_banner_url == nil %>
		.search_profile { background-image: url('../dark.png'); }
	<% else %>
		.search_profile { background-image: url(<%= @timeline.first.user.profile_banner_url %>); }
	<% end %>
</style>

<div class="search_profile">
	<div class="search_pic">
		<img src="<%= @timeline.first.user.profile_image_url %>" />
	</div><!-- .search_pic-->
		<h3><%= @timeline.first.user.name %></h3>
		<h3>@<%= @timeline.first.user.screen_name %></h3>
</div><!-- .search_profile -->

<% @timeline.each do |status| %>
	<div class="tweet">
		<%= time_ago_in_words(status.created_at) %> ago:
		<%= status.text %>
		<b><%= status.retweet_count %></b>
	</div>
<% end %>

<div class="icon">
	<i class="icon-plus"></i><%= link_to "add to favorites", :controller => :search, :action => "add_search", :q => @timeline.first.user.screen_name %>
</div><!-- .icon -->
